html {
    background-color: #555555
    ;
}

logo {
    background-color: maroon;
    opacity: 30%;
}

logo img {
    display: flexbox;
    height: 150px;
    margin-left: 15px;
}

nav {
    background-color: navy;
    opacity: 30%;
    width: 40%;
    align-items: center;
}

.container {
    display: flex;
}

main {
    justify-content: center;
}

banner logo {
    justify-content: start;
    height: 175px;
    width: 400px;
    margin-left: 30px;
}

banner nav {
    justify-content: space-around;
    height: 175px;
    margin-left: 400px;
    margin-right: 0;
}

banner {
    width: 100%;
    min-height: 400px;
    
    

}

.box {
    display: flexbox;
    
    height: 75px;
    margin: 20px;
    color: gold;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    
    
}

a {
    text-decoration: none;
}

#motto {
    flex-direction: column;
    margin-left: 30px;
    color: gold;
}